@charset "utf-8";
// ==========================================================================
// Page index
// ==========================================================================

.page.gallery {

	.content {
		width: 677px;
		margin-top: -180px;
		padding-left: 43px;
	}

	h1 {
		margin-bottom: 39px;
	}
	h2 {
		margin-bottom: 8px;
		line-height: 1;
	}
	.carousel {
		position: relative;
		width: 638px;
		// padding: 0 41px 0 43px;
		margin-bottom: 20px;
		@include disabled-select;

		.carousel-inner {
			overflow: hidden;
			height: 86px;
		}
		ul {
			overflow: hidden;
			height: 86px;
			margin-right: -10px;
		}

		li {
			float: left;
			width: 152px;
			margin-right: 10px;
			background-color: #000;
		}

		a {
			&:hover {
				@include opacity(0.7);
			}
		}

		.prev,
		.next {
			position: absolute;
			top: 24px;
			@include sprite-item('#{$imgPath}spr_carousel_01.png', 22px, 40px);
			cursor: pointer;

			&:hover {
				@include opacity(0.7);
			}
			&.disabled {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
				opacity: 0.3 !important;
				cursor: default;
			}
		}
		.prev {
			left: -41px;
			background-position: 0 0;
		}
		.next {
			right: -43px;
			background-position: -22px 0;
		}
	}
}

/* for tablet touch */
.touch .page.gallery .carousel {
	.prev,
	.next {
		&:hover {
			opacity: 1;
		}
		&:active {
			opacity: .7;
		}
	}
}
