@charset "utf-8";
// ==========================================================================
// Page index
// ==========================================================================

.page.index {

	.inner {
		.content {
			margin-top: -72px;
			padding-left: 40px;
		}
	}

	.pickup {
		position: absolute;
		top: 50%;
		right: 0;
		min-width: 210px;
		margin-top: -110px;
		padding: 8px 10px;
		background: url(#{$imgPath}bg_dot_01.png) repeat;

		h1 {
			@include sprite();
			width: 70px;
			height: 19px;
			margin-bottom: 9px;
			background-image: url(#{$imgPath}txt_pickup_01.png);
			background-repeat: no-repeat;
		}

		ul {
			li {
				margin-bottom: 9px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
