@charset "utf-8";
// ==========================================================================
// Page interview
// ==========================================================================
/* navigation */
.interview-nav {
	position: fixed;
	top: 50%;
	right: -49px;
	z-index: 100;
	margin-top: -147px;

	ul {
		li {
			position: relative;
			z-index: 1;
			margin-top: -1px;

			&:first-child {
				margin-top: 0;
			}

			&.active {
				z-index: 100;
			}

			a img {
				@extend .hover-item;
			}
		}
	}
}

/* content */
.page-interview {
	position: absolute;
	left: 50%;
	width: 900px;
	min-height: 540px;
	margin-left: -450px;
	line-height: 1.5;
	@include opacity(0);

	&.initialized {
		@include opacity(1);
		@include single-transition(opacity, 0.5s, ease-out);
	}

	.inner {
		position: relative;
		overflow: hidden;
	}

	&.page-offset-left {
		.inner {
			left: -30px;
		}
	}
	&.page-offset-right {
		.inner {
			right: -30px;
		}
	}

	.content {
		position: absolute;
		top: 30px;
		width: 340px;
		padding: 30px;
		background: url(#{$imgPath}/interview/bg_text_01.png) repeat;
		color: #000000;
		font-size: fz(12);


		h1,
		h2 {
			margin-bottom: 25px;
		}

		.text p {
			margin-bottom: 0;
			text-indent: 1em;
		}

		// layout
		&%min-height {
			min-height: 450px;
		}
		&.layout-left {
			left: 30px;

			&.offset { left: 0; }
		}
		&.layout-right {
			right: 30px;

			&.offset { right: 0; }
		}
		&.layout-left-bottom {
			top: auto;
			bottom: 0;
			left: 30px;
		}
		&.layout-right-bottom {
			top: auto;
			bottom: 0;
			right: 30px;
		}
		&.offset-top {
			@extend %min-height;
			top: 0;
		}
		&.offset-bottom {
			@extend %min-height;
			top: 30px;
		}

		&.layout-middle {
			top: 150px;
		}

		&.layout-left2 {
			top: 90px;
			left: 30px;

			&.offset { left: 0; }
		}
		&.layout-right2 {
			top: 90px;
			right: 30px;

			&.offset { right: 0; }
		}
	}

	&.page-top .content,
	&.page-last .content {
		width: 300px;
		background: none;
		color: #ffffff;
	}
	&.transparent {
		background: none;
		color: #ffffff;
	}

	.name {
		font-size: 116.6%;
		font-weight: bold;
	}

	.sns {
		float: left;
		margin: 10px 0 0;
	}
}

/* pager */
// sprites
.from-bottom {
	.pager {
		a {
			height: 38px;
			background-image: url(#{$imgPath}interview/spr_pager_01.png);
			@include sprite();
		}
		.next {
			width: 32px;
			background-position: -66px 0;
			&:hover { background-position: -99px 0; }
		}
		.back {
			width: 32px;
			background-position: -198px 0;
			&:hover { background-position: -231px 0; }
		}
		.top {
			width: 34px;
			background-position: -264px 0;
			&:hover { background-position: -297px 0; }
		}

		&.start-end {
			.next {
				background-position: 0 0;
				&:hover { background-position: -33px 0; }
			}
			.back {
				background-position: -132px 0;
				&:hover { background-position: -165px 0; }
			}
		}
	}
}

// layout
.page-interview {
	.pager {
		@extend .clearfix;
		float: right;
	}
	ul.pager {
		width: 86px;
		margin-top: 20px;

		li {
			float: left;
			margin-left: 20px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}