@charset "utf-8";
// ==========================================================================
// Page index
// ==========================================================================

.page.story {

	.content {
		z-index: 2;
		margin-top: -170px;
		padding-left: 39px;
	}

	h1 {
		margin-bottom: 49px;
	}
	.title {
		margin: 65px 0 0;
	}
	.dummy-link {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		width: 453px;
		height: 451px;
		margin-top: -225px;
		margin-left: -74px;
		@include hide-text();
	}

	.archive {
		@include position(50%, 0, "", "");
		min-width: 144px;
		margin-top: -145px;

		// ul {
			// overflow: hidden;

			li {
				// position: relative;
				// margin-top: -1px;
				// &:first-child { margin-top: 0; }

				a {
					display: block;
					background-color: #000000;

					img {
						@extend .hover-item;
						// @include opacity(0.7);
					}
				}

				// &.new a:after {
				// 	content: "";
				// 	@include position(1px, 0 , "", "");
				// 	width: 37px;
				// 	height: 30px;
				// 	background: url(#{$imgPath}icon_new_01.png) no-repeat;
				// }
			}
		// }
	}
}
