@charset "utf-8";
// ==========================================================================
// Site header
// ==========================================================================

.error {
	position: relative;
	width: 100%;
	height: 100%;

	.inner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -260px;
		margin-top: -91px;
		width: 520px;
		height: 182px;
	}
	h1 {
		@include sprite();
		margin-bottom: 40px;
	}
	.btn-top {
		width: 182px;
		height: 42px;
		margin: 0 auto;
	}
	&.error404 h1 {
		width: 429px;
		height: 100px;
		background-image: url(#{$imgPath}error_404.png);
		margin-left: 32px;
	}
	&.error500 h1 {
		width: 520px;
		height: 100px;
		background-image: url(#{$imgPath}error_500.png);
	}
}
