@charset "utf-8";
// ==========================================================================
// Global header
// ==========================================================================
.global-header {
	$color: #666;

	border-top: 2px solid #000;
	border-bottom: 1px solid #ccc;
	background-color: #fafafa;
	text-shadow: 1px 1px 1px #fff;

	a {
		color: $color;
		text-decoration: none;
	}

	.logo {
		float: left;
		color: $color;
		font-size: 29px;
		font-family: $megrim;
		line-height: 30px;
		letter-spacing: 0.15em;
	}

	nav {
		float: right;
		font-family: $sourceCodePro;

		ul {
			margin-top: 1.3em;
			text-align: right;
		}
		li { display: inline-block; }
		
		a {
			&:hover { text-decoration: underline; }
		}
	}
}

.inner {
	@extend .clearfix;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}
