@charset "utf-8";
// ==========================================================================
// Global header
// ==========================================================================
.global-header {
	$color: #666;

	border-top: 2px solid #000;
	border-bottom: 1px solid #ccc;
	background-color: #fafafa;
	text-shadow: 1px 1px 1px #fff;

	a {
		color: $color;
		text-decoration: none;
	}

	.logo {
		float: left;
		color: $color;
		font-size: 30px;
		font-family: $megrim;
		line-height: 30px;
		letter-spacing: 0.15em;
	}

	nav {
		float: right;
		font-family: $sourceCodePro;

		ul {
			margin-top: 1.3em;
			text-align: right;
		}
		li { display: inline-block; }
		
		a {
			&:hover { text-decoration: underline; }
		}
	}

	.toggle {
		display: none;
		position: absolute;
		top: 50%;
		right: 10px;
		width: 24px;
		height: 19px;
		margin-top: -10px;
		cursor: pointer;

		span {
			position: absolute;
			left: 0;
			width: 24px;
			height: 5px;
			background-color: #666;

			&:nth-child(1) { top: 0; }
			&:nth-child(2) { top: 7px; }
			&:nth-child(3) { top: 14px; }
		}
	}

	@media screen and (max-width: $break-large) {
		nav {
			display: none;
			float: none;
		}
		.toggle {
			display: block;
		}
	}
}

.inner {
	@extend .clearfix;
	position: relative;
	max-width: $siteWidth;
	margin: 0 auto;
	padding: 0 10px;
}
