@charset "utf-8";
// ==========================================================================
// Base Contents
// ==========================================================================
$map-icon: sprite-map("sprite/*.png", $spacing: 2px);
%icon { @include sprites($map-icon, common, true); }

i {
	@extend %icon;
	display: inline-block;
	position: relative;
}
.tags i { @include sprites($map-icon, tag, false); }
// .external i { @include sprites($map-icon, window, false); }
.download i { @include sprites($map-icon, download, false); }
.demo i { @include sprites($map-icon, eye, false); }
// .prev i { @include sprites($map-icon, arrow1, false); }
// .next i { @include sprites($map-icon, arrow2, false); }

.contents {
	max-width: $mainWidth;
	margin: 0 auto;
	padding: 0 10px;
}


.mod-article {
	@extend .contents;
	padding-top: 20px;

	.tagline {
		@extend .clearfix;
		margin-bottom: 20px;
		font-size: 12px;

		time {
			display: block;
			float: left;
			width: 5em;
		}
		.tags {
			float: left;
			margin: 0;

			i { margin: 0 5px -4px 13px; }
		}

		.sns {
			float: right;
		}

		@media screen and (max-width: $break-large) {

			.tags, .sns {
				float: none;
			}
			.tags {
				margin-bottom: 20px;
			}

		}
	}
}

.mod-article-header {
	h1 {
		margin-top: 1.8em;
		font-weight: normal;
		font-size: 24px;
		font-weight: normal;
	}
}

.mod-article-body {
	h2,
	h3 {
		margin-top: 1.8em;
		font-weight: normal;
	}
	

	h2 {
		border-bottom: 1px solid $bdColor1;
		font-size: 20px;
	}

	h3 {
		border-bottom: 1px dotted $bdColor1;
		font-size: 18px;
	}
	h4 {
		margin: 1.8em 0 0.8em;
	}

	p, blockquote, li {
		line-height: 2;
	}

	blockquote {
		margin-left: 0;
		margin-right: 0;
		padding: 0.3em 1em;
		border-left: 4px solid #666;
	}

	a {
		padding-right: 20px;
		background: url(#{$imgPath}window.png) no-repeat right 3px;
		font-style: normal;
	}

	figure {
		text-align: center;
	}

	img {
		max-width: 800px;
		height: auto;
		padding: 4px;
		background: url(#{$imgPath}dot.png) repeat;
	}

	table {
		th,
		td {
			padding: 15px 20px;
			border-left: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
		th {
			color: #ddd;
			background-color: #666;
		}
		td {
			color: #2a2a2a;
			background-color: #dadada;
		}
	}
}

.mod-pager {
	@extend .contents;
	margin: 3em auto;

	ul {
		@extend .clearfix;
		padding: 0;
	}
	li {
		background-repeat: no-repeat;
	}
	.prev {
		float: left;
		padding-left: 25px;
		background-image: url(#{$imgPath}arrow1.png);
		background-position: 0 3px;
	}
	.next {
		float: right;
		padding-right: 25px;
		background-image: url(#{$imgPath}arrow2.png);
		background-position: 100% 3px;
	}
	.prev,
	.next {
		max-width: 40%;
		a {
			font-weight: bold;
		}
	}
}
