@charset "utf-8";
//
// グローバル設定ファイル
// require "Compass" - http://compass-style.org/
//
// ==========================================================================
// import Compass
// ==========================================================================
@import "compass";

// ==========================================================================
// Compass設定
// ==========================================================================
// *IE用(PC)は出力させない
$legacy-support-for-ie: false;
$legacy-support-for-ie8: false;
// *旧Firefox向け(PC)のスタイルを出力させない
$legacy-support-for-mozilla: false;

// ベンダープレフィックスの出力
$experimental-support-for-webkit: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;
$official: true;

// テキストを隠す方向
$hide-text-direction: right;

// CSSスプライトの利用
//$useCompassSprite: true;

// ==========================================================================
// 画像設定
// ==========================================================================
// 画像のパス
$imgPath: "/img/";

// ==========================================================================
// フォント設定
// ==========================================================================
// ベースフォント
$baseFont:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !default;
$baseFontIE: 'ＭＳ Ｐゴシック', sans-serif !default;
$sourceCodePro: 'Source Code Pro', sans-serif;
$megrim: 'Megrim', sans-serif;

// ==========================================================================
// カラー設定
// ==========================================================================
// 背景カラー
$bgColor: #fff !default;
// サブカラー
// $subColor: #eee;
// アクセントカラー
// $accentColor: #e73562;

// ベーステキストカラー
$fontColor: #555 !default;
// サブテキストカラー
// $subFontColor: #C8C8C8;
// $subFontColor2: #A5A5A5;
// アクセントテキストカラー
$accentFontColor: #222 !default;

// ベースリンクカラー
$linkColor: #258fb8 !default;
$linkColorVisited: #258fb8 !default;
$linkColorActive: #258fb8 !default;

// ボーダーカラー
$bdColor1: #303030;

// ==========================================================================
// ウィンドウ設定
// ==========================================================================
$siteWidth: 980px;
$mainWidth: 800px;

$break-large: 840px;
