@charset "utf-8";

/* ==========================================================================
   Modules
   ========================================================================== */

/* Utilities
   ========================================================================== */
/* Twitter & Facebook button */
.sns {
	@extend .clearfix;
	li {
		float: left;
		line-height: 1;
	}
	.twitter-share-button {
		width: 110px !important;
	}
	.fb {
		overflow: hidden;
		height: 20px;
	}
}

/* CSS Sprite */
.sprite-item {
	@include sprite;
}

/* opacity hover */
.hover-item {
	&:hover {
		@include opacity(0.7);
	}
}

/* display */
.hidden {
	display: none !important;
	visibility: hidden;
}

/* spacing class */
.mb0 {
	margin-bottom: 0 !important;
}

/* Clearfix */
.clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
