@charset "utf-8";

html {
	color: #555;
}

body {
	font-family: $baseFont;
	_font-family: $baseFontIE;
	// font-size: 13px;
	// *font-size: small;
	line-height: 1.6;
	word-break: break-all;
}
/*
Font-size list (base: 13px)
 62% =  8px
 70% =  9px
 77% = 10px
 85% = 11px        162% = 21px        239% = 31px
 93% = 12px        170% = 22px        247% = 32px
100% = 13px        177% = 23px        254% = 33px
108% = 14px        185% = 24px        262% = 34px
116% = 15px        193% = 25px        270% = 35px
124% = 16px        200% = 26px        277% = 36px
131% = 17px        208% = 27px        285% = 37px
139% = 18px        216% = 28px        293% = 38px
147% = 19px        224% = 29px        300% = 39px
154% = 20px        231% = 30px        308% = 40px
*/
// フォントサイズ (ベースサイズ: 13px)
// ===================================================================
$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%, 131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%, 216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%, 300%, 308%;
@function fz($size) {
	@if $size < 8 {
		$size: 8;
	}
	@if $size > 40 {
		$size: 40;
	}
	@return nth($fontSizeList, $size - 7);
}

a { color: $linkColor; }
a:link, a:visited { text-decoration: underline; }
a:hover, a:active { text-decoration: none; outline: 0; }

::selection,
::-moz-selection {
	background: #eb5600;
	color: #fbd300;
}

/* --------------------------------------------------
	2. Heading, Paragraph
-------------------------------------------------- */
// h1, h2, h3, h4, h5, h6 {
// 	font-size: 100%;
// }
// 
p {
	margin-bottom: 1em;
}

/* --------------------------------------------------
	3. List
-------------------------------------------------- */
ul, ol { padding-left: 30px; }
nav li { list-style: none; }

/* --------------------------------------------------
	4. Table
-------------------------------------------------- */
table {
	font-size: inherit;
	font-family: inherit;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

/* --------------------------------------------------
	5. Form
-------------------------------------------------- */
fieldset { border: none; }
input, textarea, select, label {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: middle;
}
label { cursor: pointer; }
textarea { overflow: auto; }
legend { display: none; }

/* --------------------------------------------------
	6. Other
-------------------------------------------------- */
img {
	border: none;
	vertical-align: bottom;
	@include disabled-select-drag;
}
object {
	vertical-align: middle;
	outline: none;
}
b, em, strong {
	font-weight: bold;
	font-style: normal;
}

address, caption, cite, code, dfn, var {
	font-weight: normal;
	font-style: normal;
}
code, pre {
	font-family: consolas, monospace;
}
pre {
	background-color: #3b3b3b;
	color: #c2c2c2;
}
ins {
	background-color: #ffff99;
	text-decoration: none;
}

blockquote {
	font-style: italic;
}
