<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixi:http://mixi-platform.com/ns# article: http://ogp.me/ns/article#">
<meta charset="UTF-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="フロントエンドに関するブログ。Yuhiisk">
<meta name="keywords" content="HTML,CSS,Javascript,フロントエンド,yuhiisk">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/img/og_image.gif">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ site.title }}">
<meta property="fb:appId" content="419866574778905">

<link rel="shortcut icon" type="image/vnd.microsoft.icon" sizes="16x16" href="/favicon.ico">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Megrim">
<link rel="stylesheet" href="/css/style.css" media="all">
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40662331-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>
<header class="global-header">
<div class="inner">
<h1 class="logo"><a href="/">Yuhiisk</a></h1>
<nav>
<ul>
<li><a href="/">TOP</a></li>
<li><a href="/about/">ABOUT</a></li>
<li><a href="/contact/">CONTACT</a></li>
</ul>
</nav>
<div class="toggle">
<span></span>
<span></span>
<span></span>
<!-- /.toggle --></div>
<!-- /.inner --></div>
<!-- /.global-header --></header>

{{ content }}

<footer class="global-footer">
<div class="inner">
<div class="profile">
<h2 class="author">五十川 洋平<span>（いそかわ ようへい）</span></h2>
<p>フロントエンドエンジニア</p>
<ul>
<li>Twitter: <a href="https://twitter.com/Yuhiisk" target="_blank">@Yuhiisk</a></li>
<li>Facebook: <a href="https://www.facebook.com/youhei.isokawa" target="_blank">Youhei Isokawa</a></li>
</ul>
<figure class="image"><img src="/img/icon.jpg" alt="yuhiisk" width="96" height="96" /></figure>
<!-- /.profile --></div>

<p class="copyright"><small>Copyright &copy; Yuhiisk All rights reserved.</small></p>
<!-- /.inner --></div>
<!-- /.global-footer --></footer>
</body>
</html>
