<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/normalize.css" media="all">
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40662331-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div class="container">

<header class="global-header">
<h1>My Blog - yuhiisk</h1>
</header>

<div class="contents">
{{ content }}
<!-- /.contents --></div>

<footer class="global-footer">
<ul>
<li>Twitter: @yuhiisk</li>
<li>Facebook: Youhei Isokawa</li>
</ul>
<p><small>Copyright &copy; Yuhiisk All rights reserved.</small></p>
<!-- /.global-footer --></footer>

<!-- /.container --></div>
</body>
</html>
